<%- include("_navbar"); %>

  <!-- Vertically centered modal -->
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Create Interview
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Interviews</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="modal-body" action="/interviews/createInterview" method="post">

          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Student:</label>
            <div class="col-sm-10">
              <!-- <input type="text" name="name" class="form-control" id="name" required> -->
              <select class="form-control" name="studentId">
                <option>Select Student</option>
                <% for(student of students) { %>
                    <option value="<%= student._id %>"><%= student.name %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Company:</label>
            <div class="col-sm-10">
              <!-- <input type="text" name="name" class="form-control" id="name" required> -->
              <select class="form-control" name="companyId">
                <option>Select Company</option>
                <% for(company of companies) { %>
                    <option value="<%= company._id %>"><%= company.name %></option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Date:</label>
            <div class="col-sm-10">
              <input type="date" name="date" class="form-control" id="name" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
              <!-- <input type="text" name="name" class="form-control" id="name" required> -->
              <select class="form-control" name="status">
                <option>Select an option</option>
                <option value="Registered">Registered</option>
                <option value="Pass">Pass</option>
                <option value="Fail">Fail</option>
                <option value="On Hold">On Hold</option>
                <option value="Didn't Attempt">Didn't Attempt</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Company</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Table -->
  <table class="table mt-4 table-bordered table-striped" style="width: 90%; margin: auto;">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Student Name</th>
        <th scope="col">Company Name</th>
        <th scope="col">Interview Date</th>
        <th scope="col">Status</th>
        <th scope="col">Result</th>
        <th scope="col">Update Status</th>
        <th scope="col">Delete Interview</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr class="table-success">
        <th scope="row">1</th>
        <td>Ashis</td>
        <td>Coding Ninjas</td>
        <td>12 Aug 2023</td>
        <td>Registered</td>
        <td><a href="#">Update</a></td>
        <td><a href="#">Delete</a></td>
      </tr> -->
      <% let i = 0 %>
      <% for(interview of interviews) { %>
        <% i = i + 1 %>
        <tr class="table-success">
            <th scope="row"><%= i %></th>
            <td><%= interview.student.name %></td>
            <td><%= interview.company.name %></td>
            <td><%= interview.date_of_visit %></td>
            <td><%= interview.status %></td>
            <td><%= interview.result %></td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Delete</a></td>
          </tr>
        <% } %>
    </tbody>
  </table>

 